form > .container-fluid{
	border-left:2px solid #ccc;
	border-top:2px solid #ccc;
}
form > .container-fluid > .row{
	border-right:2px solid #ccc;
	border-bottom:2px solid #ccc;
}

form .row b {
	color: #F33;
}

.error_message {
	border: 2px solid red;
	background-color: #FDD;
	width: 100%;
	margin: 5px;
	padding: 5px;
}
